.Main {
  box-sizing: border-box;
  width: 100%;
  background-color: #fafafa;

  main {
    display: flex;
    height: 1400px;
    margin-bottom: 100px;

    .feeds {
      margin-top: 60px;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;

      article {
        width: 1000px;
        height: 900px;
        margin-top: 40px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .feedsHeader {
          background-color: #ffffff;
          width: 650px;
          height: 7%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          border: 1px solid #dbdbdb;

          .user {
            display: flex;
            margin-left: 15px;

            img {
              height: 30px;
              width: 30px;
              border-radius: 15px;
            }

            span {
              margin-top: 5px;
              margin-left: 10px;
              font-weight: 600;
            }
          }

          i {
            margin-right: 15px;
          }
        }

        .feedPhoto {
          width: 650px;
          height: 600px;
        }

        .commentWrapper {
          width: 650px;
          height: 30%;
          margin-bottom: 50px;
          background-color: #fff;
          border: 2px solid #ddd;

          .menuNav {
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: space-between;

            .conversation {
              margin-left: 10px;
              margin-top: 10px;

              .fa-heart {
                color: red;
                margin-right: 20px;
                font-size: 20px;
              }

              .fa-comment {
                color: #444;
                font-size: 20px;
                margin-right: 21px;
              }

              .fa-share-square {
                color: #666;
                font-size: 20px;
              }
            }

            .save {
              margin-right: 10px;
              margin-top: 10px;

              .fa-bookmark {
                color: #aaa;
                font-size: 20px;
                padding-right: 20px;
              }
            }
          }

          .commentLists {
            padding: 0;
            li {
              list-style: none;
            }
          }
        }
        .comment {
          width: 650px;
          input {
            width: 650px;
          }
        }
      }
    }

    .main-right {
      margin-top: 100px;

      .recommendation {
        width: 300px;
        height: 300px;
        border: 1px solid #dbdbdb;
        padding-top: 15px;
        padding-left: 15px;
        overflow: auto;
        background-color: #ffffff;

        ul {
          display: flex;
          flex-direction: column;

          li {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10px;
            margin-bottom: 15px;

            img {
              width: 30px;
              height: 30px;
              border-radius: 15px;
            }

            .info {
              .recoId {
                font-weight: 600;
              }
              div:last-child {
                color: #8e8e8e;
              }
            }

            div {
            }
          }
        }
      }
    }
  }
}
