.comment-info {
  margin-left: 25px;
  margin-top: 5px;

  .comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    .comment-like-logo {
      width: 15px;
      height: 15px;
      margin-right: 25px;
      opacity: 0.6;
    }
  }
}
