.nav {
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
  padding: 25px;

  .inner {
    width: 1180px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
  }

  a {
    cursor: pointer;
    color: #aaa;
  }

  .nav_logo {
    display: flex;
    h1 {
      font-family: 'Lobster';
      color: #222;
      font-weight: normal;
      font-size: 25px;
    }
    .fa-instagram {
      color: #222;
      font-size: 26px;
      margin-left: 70px;
      margin-right: 17px;
      &::after {
        width: 0.5px;
        height: 15px;
        background-color: #222;
        border: 1px solid #222;
        content: '';
        margin-left: 15px;
      }
    }
  }

  .nav_search {
    input {
      width: 250px;
      line-height: 20px;
      border: 2px solid #ddd;
      background-color: rgb(251, 248, 248);
      padding: 5px;
      margin: auto;
      text-align: left;
      color: #000;
      border-radius: 3px;
      &::placeholder {
        letter-spacing: 1.2px;
        font-size: 14px;
        text-indent: 10px;
        text-align: center;
        color: #bbb;
      }
    }
    .fa-search {
      color: #aaa;
      line-height: 20px;
      font-size: 13px;
      position: absolute;
      left: 587px;
      top: 8px;
      margin-right: 10px;
    }
  }

  .nav_icon {
    display: flex;
    .fa-compass {
      color: #999;
      font-size: 22px;
    }
    .fa-heart {
      color: #999;
      font-size: 22px;
      margin-left: 24px;
      vertical-align: middle;
    }
    .fa-user {
      color: #999;
      font-size: 22px;
      margin-left: 24px;
      margin-right: 70px;
      vertical-align: middle;
    }
  }
}
