#footer {
  p {
    width: 250px;
    color: #ccc;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin-top: 15px;
    margin-right: 20px;
    padding-bottom: 15px;
  }

  span {
    color: #ccc;
    font-weight: 600;
  }
}
